
<div class="filters">
	<div class="filters__items">
		<div class="filters__items__item">
			<div class="filters__items__item_title">Бренд:</div>
			<div class="size">noname</div>
			<div class="size selected">Bruno Banani</div>
			<div class="size">DKNY</div>
			<div class="size">Victoria's secret</div>
		</div>
		<div class="filters__items__item">
			<div class="filters__items__item_title">Размер:</div>
			<div class="size">8</div>
			<div class="size">46</div>
			<div class="size">48</div>
			<div class="size selected">54</div>
			<div class="size selected">56</div>
			<div class="size">56</div>
			<div class="size">60</div>
			<div class="size">62</div>
		</div>
		<div class="filters__items__item">
			<div class="filters__items__item_title">Цвет:</div>
			<div class="color" style="background: #000;"></div>
			<div class="color selected" style="background: #45b759;"></div>
			<div class="color" style="background: #e14d43;"></div>
			<div class="color" style="background: #d1d3da;"></div>
		</div>
		<div class="filters__items__item">
			<div class="filters__items__item_title">Цена:</div>
			<div class="clearfix">
				<input id="filters__items__item_input_from" class="filters__items__item_input form_input g-pull-left" data-val="0" type="text" value="0"/>
				<input id="filters__items__item_input_to" class="filters__items__item_input form_input g-pull-right" data-val="15000" type="text" value="15000"/>
			</div>
			<div class="filters__items__item_range" id="filters__items__item_range">
				<div class="filters__items__item_range_active" id="filters__items__item_range_active"></div>
				<div class="icon-range filters__items__item_range_toggler" id="filters__items__item_range--first"></div>
				<div class="icon-range filters__items__item_range_toggler" id="filters__items__item_range--second"></div>
			</div>
		</div>
	</div>
</div>



<div class="catalog">
	<div class="catalog__item">
		<a href="#" class="catalog__item_pic sale"><img src="/img/pict_item_cat.jpg"/></a>
		<div class="catalog__item__info">
			<div class="catalog__item__info_plus">
				<div class="catalog__item__info_plus_sizes">
					<div class="size size--small">8</div>
					<div class="size size--small">46</div>
					<div class="size size--small">48</div>
					<div class="size size--small">54</div>
					<div class="size size--small">56</div>
					<div class="size size--small">56</div>
					<div class="size size--small">60</div>
					<div class="size size--small">62</div>
				</div>
				Пиджак Big Boss jacket
			</div>
			<span class="catalog__item__info_price">24 490 руб.</span>
			<div class="catalog__item__info_button form_button form_button--middle form_button--yellow-light">на потом</div>
		</div>
	</div>
	<div class="catalog__item">
		<a href="#" class="catalog__item_pic"><img src="/img/pict_item_cat.jpg"/></a>
		<div class="catalog__item__info">
			<div class="catalog__item__info_plus">
				<div class="catalog__item__info_plus_sizes">
					<div class="size size--small">8</div>
					<div class="size size--small">46</div>
					<div class="size size--small">48</div>
					<div class="size size--small">54</div>
					<div class="size size--small">56</div>
					<div class="size size--small">56</div>
					<div class="size size--small">60</div>
					<div class="size size--small">62</div>
				</div>
				Пиджак Big Boss jacket
			</div>
			<span class="catalog__item__info_price">24 490 руб.</span>
			<div class="catalog__item__info_button form_button form_button--middle form_button--yellow-light">на потом</div>
		</div>
	</div>
	<div class="catalog__item">
		<a href="#" class="catalog__item_pic"><img src="/img/pict_item_cat.jpg"/></a>
		<div class="catalog__item__info">
			<div class="catalog__item__info_plus">
				<div class="catalog__item__info_plus_sizes">
					<div class="size size--small">8</div>
					<div class="size size--small">46</div>
					<div class="size size--small">48</div>
					<div class="size size--small">54</div>
					<div class="size size--small">56</div>
					<div class="size size--small">56</div>
					<div class="size size--small">60</div>
					<div class="size size--small">62</div>
				</div>
				Пиджак Big Boss jacket
			</div>
			<span class="catalog__item__info_price">24 490 руб.</span>
			<div class="catalog__item__info_button form_button form_button--middle form_button--orange">удалить</div>
		</div>
	</div>
	<div class="catalog__item">
		<a href="#" class="catalog__item_pic"><img src="/img/pict_item_cat.jpg"/></a>
		<div class="catalog__item__info">
			<div class="catalog__item__info_plus">
				<div class="catalog__item__info_plus_sizes">
					<div class="size size--small">8</div>
					<div class="size size--small">46</div>
					<div class="size size--small">48</div>
					<div class="size size--small">54</div>
					<div class="size size--small">56</div>
					<div class="size size--small">56</div>
					<div class="size size--small">60</div>
					<div class="size size--small">62</div>
				</div>
				Пиджак Big Boss jacket
			</div>
			<span class="catalog__item__info_price">24 490 руб.</span>
			<div class="catalog__item__info_button form_button form_button--middle form_button--yellow-light">на потом</div>
		</div>
	</div>
	<div class="catalog__item">
		<a href="#" class="catalog__item_pic"><img src="/img/pict_item_cat.jpg"/></a>
		<div class="catalog__item__info">
			<div class="catalog__item__info_plus">
				<div class="catalog__item__info_plus_sizes">
					<div class="size size--small">8</div>
					<div class="size size--small">46</div>
					<div class="size size--small">48</div>
					<div class="size size--small">54</div>
					<div class="size size--small">56</div>
					<div class="size size--small">56</div>
					<div class="size size--small">60</div>
					<div class="size size--small">62</div>
				</div>
				Пиджак Big Boss jacket
			</div>
			<span class="catalog__item__info_price">24 490 руб.</span>
			<div class="catalog__item__info_button form_button form_button--middle form_button--yellow-light">на потом</div>
		</div>
	</div>
	<div class="catalog__item">
		<a href="#" class="catalog__item_pic"><img src="/img/pict_item_cat.jpg"/></a>
		<div class="catalog__item__info">
			<div class="catalog__item__info_plus">
				<div class="catalog__item__info_plus_sizes">
					<div class="size size--small">8</div>
					<div class="size size--small">46</div>
					<div class="size size--small">48</div>
					<div class="size size--small">54</div>
					<div class="size size--small">56</div>
					<div class="size size--small">56</div>
					<div class="size size--small">60</div>
					<div class="size size--small">62</div>
				</div>
				Пиджак Big Boss jacket
			</div>
			<span class="catalog__item__info_price">24 490 руб.</span>
			<div class="catalog__item__info_button form_button form_button--middle form_button--yellow-light">на потом</div>
		</div>
	</div>
	<div class="catalog__item">
		<a href="#" class="catalog__item_pic"><img src="/img/pict_item_cat.jpg"/></a>
		<div class="catalog__item__info">
			<div class="catalog__item__info_plus">
				<div class="catalog__item__info_plus_sizes">
					<div class="size size--small">8</div>
					<div class="size size--small">46</div>
					<div class="size size--small">48</div>
					<div class="size size--small">54</div>
					<div class="size size--small">56</div>
					<div class="size size--small">56</div>
					<div class="size size--small">60</div>
					<div class="size size--small">62</div>
				</div>
				Пиджак Big Boss jacket
			</div>
			<span class="catalog__item__info_price">24 490 руб.</span>
			<div class="catalog__item__info_button form_button form_button--middle form_button--yellow-light">на потом</div>
		</div>
	</div>
	<div class="catalog__item">
		<a href="#" class="catalog__item_pic"><img src="/img/pict_item_cat.jpg"/></a>
		<div class="catalog__item__info">
			<div class="catalog__item__info_plus">
				<div class="catalog__item__info_plus_sizes">
					<div class="size size--small">8</div>
					<div class="size size--small">46</div>
					<div class="size size--small">48</div>
					<div class="size size--small">54</div>
					<div class="size size--small">56</div>
					<div class="size size--small">56</div>
					<div class="size size--small">60</div>
					<div class="size size--small">62</div>
				</div>
				Пиджак Big Boss jacket
			</div>
			<span class="catalog__item__info_price">24 490 руб.</span>
			<div class="catalog__item__info_button form_button form_button--middle form_button--yellow-light">на потом</div>
		</div>
	</div>
	<div class="catalog__item">
		<a href="#" class="catalog__item_pic"><img src="/img/pict_item_cat.jpg"/></a>
		<div class="catalog__item__info">
			<div class="catalog__item__info_plus">
				<div class="catalog__item__info_plus_sizes">
					<div class="size size--small">8</div>
					<div class="size size--small">46</div>
					<div class="size size--small">48</div>
					<div class="size size--small">54</div>
					<div class="size size--small">56</div>
					<div class="size size--small">56</div>
					<div class="size size--small">60</div>
					<div class="size size--small">62</div>
				</div>
				Пиджак Big Boss jacket
			</div>
			<span class="catalog__item__info_price">24 490 руб.</span>
			<div class="catalog__item__info_button form_button form_button--middle form_button--yellow-light">на потом</div>
		</div>
	</div>
	<div class="catalog__item">
		<a href="#" class="catalog__item_pic"><img src="/img/pict_item_cat.jpg"/></a>
		<div class="catalog__item__info">
			<div class="catalog__item__info_plus">
				<div class="catalog__item__info_plus_sizes">
					<div class="size size--small">8</div>
					<div class="size size--small">46</div>
					<div class="size size--small">48</div>
					<div class="size size--small">54</div>
					<div class="size size--small">56</div>
					<div class="size size--small">56</div>
					<div class="size size--small">60</div>
					<div class="size size--small">62</div>
				</div>
				Пиджак Big Boss jacket
			</div>
			<span class="catalog__item__info_price">24 490 руб.</span>
			<div class="catalog__item__info_button form_button form_button--middle form_button--yellow-light">на потом</div>
		</div>
	</div>
	<div class="catalog__item">
		<a href="#" class="catalog__item_pic"><img src="/img/pict_item_cat.jpg"/></a>
		<div class="catalog__item__info">
			<div class="catalog__item__info_plus">
				<div class="catalog__item__info_plus_sizes">
					<div class="size size--small">8</div>
					<div class="size size--small">46</div>
					<div class="size size--small">48</div>
					<div class="size size--small">54</div>
					<div class="size size--small">56</div>
					<div class="size size--small">56</div>
					<div class="size size--small">60</div>
					<div class="size size--small">62</div>
				</div>
				Пиджак Big Boss jacket
			</div>
			<span class="catalog__item__info_price">24 490 руб.</span>
			<div class="catalog__item__info_button form_button form_button--middle form_button--yellow-light">на потом</div>
		</div>
	</div>
	<div class="catalog__item">
		<a href="#" class="catalog__item_pic"><img src="/img/pict_item_cat.jpg"/></a>
		<div class="catalog__item__info">
			<div class="catalog__item__info_plus">
				<div class="catalog__item__info_plus_sizes">
					<div class="size size--small">8</div>
					<div class="size size--small">46</div>
					<div class="size size--small">48</div>
					<div class="size size--small">54</div>
					<div class="size size--small">56</div>
					<div class="size size--small">56</div>
					<div class="size size--small">60</div>
					<div class="size size--small">62</div>
				</div>
				Пиджак Big Boss jacket
			</div>
			<span class="catalog__item__info_price">24 490 руб.</span>
			<div class="catalog__item__info_button form_button form_button--middle form_button--yellow-light">на потом</div>
		</div>
	</div>
</div>

<div class="text">
	<h2>{$cat_content.name|strip_tags}</h2>
	{$cat_content.text}
</div>

<h1>{$cat_content.name|strip_tags}</h1>

    <div class="pozw">
    {if $folders_list}
    	{foreach from=$folders_list item=folder name=iter1}
		    <div class="pozb"><div class="poz">
		    <a title="{$folder.name}" style="display:block; height:13px;" href="{$base_url}/{$folder.full_url}/">{$folder.name|strip_tags}</a><br>
		    
		    {if $folder.image}<a title="{$folder.name}" href="{$base_url}/{$folder.full_url}/"><img src="/uploaded_files/category_images/medium-{$folder.image}" width="149" height="144" class="pozimg"></a>
		    {elseif $folder.picture}<a title="{$folder.name}" href="{$base_url}/{$folder.full_url}/"><img src="/uploaded_files/shop_images/medium-{$folder.picture}" width="149" height="144" class="pozimg"></a>
		    {else}
		    <a title="{$folder.name}" href="{$base_url}/{$folder.full_url}/"><img src="/templates/img/nophoto.jpg" width="146" height="144" class="pozimg"></a>
		    {/if}
		    </div></div>
		    {if $smarty.foreach.iter1.iteration%3 == 0}<div style="clear:both; height:20px;">&nbsp;</div>{/if}
		{/foreach}
	{/if}
    </div>
