<div class="filters">
    <div class="filters__items">
        <div class="filters__items__item">
            <div class="filters__items__item_title">Бренд:</div>
            {if !empty($filter_brands.elements_array)}
                {foreach from=$filter_brands.elements_array item=item}
                    <div class="size">{$item}</div>
                {/foreach}
            {/if}
        </div>
        <div class="filters__items__item">
            <div class="filters__items__item_title">Размер:</div>
            {if !empty($filter_sizes.elements_array)}
                {foreach from=$filter_sizes.elements_array item=item}
                <div class="size" data-value="{$item}">{$item}</div>
                {/foreach}
            {/if}
        </div>
        <div class="filters__items__item">
            <div class="filters__items__item_title">Цвет:</div>
            {if !empty($filter_colors.elements_array)}
                {foreach from=$filter_colors.elements_array item=item}
                    <div class="color" style="background:{$item};"></div>
                {/foreach}
            {/if}
        </div>
        <div class="filters__items__item">
            <div class="filters__items__item_title">Цена:</div>
            <div class="clearfix">
                <input id="filters__items__item_input_from" class="filters__items__item_input form_input g-pull-left" data-val="0" type="text" value="0"/>
                <input id="filters__items__item_input_to" class="filters__items__item_input form_input g-pull-right" data-val="15000" type="text" value="15000"/>
            </div>
            <div class="filters__items__item_range" id="filters__items__item_range">
                <div class="filters__items__item_range_active" id="filters__items__item_range_active"></div>
                <div class="icon-range filters__items__item_range_toggler" id="filters__items__item_range--first"></div>
                <div class="icon-range filters__items__item_range_toggler" id="filters__items__item_range--second"></div>
            </div>
        </div>
    </div>
</div>

{literal}
<script type="text/javascript">
    var onReady = function(){
        var request = [];
        var check_sizes = [];

        var url = location.href;

        $(".size").click(function(){
            //check_sizes.push($(this).data('value'));
            url = new String(url).replace(/(\?|\&)?sizes\=([^\&]+)/g,'');
            url = url + '?sizes=' + $(this).data('value');
            location.href = url;
        });

        /*if (check_sizes.length)
        {
            request.push('sizes=' + check_sizes.join());
        }

        return request.length ? '?' + request.join('&') : null;*/

    };
    document.addEventListener('DOMContentLoaded', onReady, false);
</script>
{/literal}